:root {
  --font-family-1: 'Mukta', sans-serif;
  --font-family-2: 'Raleway', sans-serif;

  --font-size-body: 16px;
  --font-size-body-mobile: 14px;
  --font-size-small: 12px;
  --font-size-small-mobile: 10px;

  --font-size-h1-title: 1.953rem;
  --font-size-h1-title-mobile: 1.563rem;

  --font-size-h2-title: 3.052rem;
  --font-size-h2-title-mobile: 1.953rem;

  --color-black: #212121;
  --color-white: #f4f4f4;
  --color-red: #d31027;
  --color-green-1: rgba(19, 78, 94, 1);
  --color-green-2: rgba(113, 178, 128, 1);

  --moz-gradient: -moz-linear-gradient(
    133deg,
    var(--color-green-1) 0%,
    var(--color-green-2) 100%
  );
  --webkit-gradient: -webkit-linear-gradient(
    133deg,
    var(--color-green-1) 0%,
    var(--color-green-2) 100%
  );
  --gradient: linear-gradient(
    133deg,
    var(--color-green-1) 0%,
    var(--color-green-2) 100%
  );

  --filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#134e5e",endColorstr="#71b280",GradientType=1);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-white);
  font-family: var(--font-family-2);
  font-size: var(--font-size-body);
  font-weight: 500;
  line-height: 1.75;
  color: var(--color-black);
  width: 100vw;
  height: 100vh;
}

.result,
section.challenge,
section.challenge form {
  width: 100%;
}

h1.heading__title,
span.heading__subtitle,
.description,
section.challenge form,
.result,
.footer {
  transform: scale(0.8);
  opacity: 0;
}

main.main {
  width: 400px;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1.heading__title,
h2.result__title {
  margin: 3rem 0 1.38rem;
  line-height: 1.3;
  background: var(--moz-gradient);
  background: var(--webkit-gradient);
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-filter: var(--filter);
  filter: var(--filter);
}

h1.heading__title {
  font-family: --font-family-1;
  font-size: var(--font-size-h1-title);
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  margin-top: 2rem;
}

span.emoji {
  background-clip: initial;
  -webkit-background-clip: initial;
  -webkit-text-fill-color: initial;
}

.emoji--center {
  text-align: center;
  margin-bottom: 2rem;
}

h1.heading__title,
span.heading__subtitle {
  -webkit-animation: show 0.6s forwards;
  animation: show 0.6s forwards;
}

span.heading__subtitle {
  margin-bottom: 2rem;
}

.description {
  -webkit-animation: show 0.6s forwards;
  animation: show 0.6s forwards;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

h2.result__title {
  font-family: var(--font-family-1);
  font-size: var(--font-size-h2-title);
  letter-spacing: 0.2rem;
}

section.challenge form {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;

  -webkit-animation: show 0.6s forwards;
  animation: show 0.6s forwards;
  -webkit-animation-delay: 1.8s;
  animation-delay: 1.8s;
}

input,
button {
  padding: 0.4rem 1rem;
  margin: 0.8rem 0;
  border: 1px solid var(--color-green-2);
  border-radius: 4px;
  font-family: var(--font-family-1);
  font-size: var(--font-size-body);
  display: block;
}

input {
  background: rgb(241, 250, 243);
  color: var(--color-green-1);
}

input:focus,
input:active {
  outline: none;
  border-color: var(--color-green-1);
}

.error {
  color: var(--color-red);
  transition: all 0.3s;
  display: none;
}

button {
  background: var(--moz-gradient);
  background: var(--webkit-gradient);
  background: var(--gradient);
  -webkit-filter: var(--filter);
  filter: var(--filter);
  color: var(--color-white);
  letter-spacing: 0.1rem;
  cursor: pointer;

  transition: all 0.3s;
}

button.disabled {
  background: rgb(179, 211, 187);
  border-color: rgb(179, 211, 187);
  cursor: not-allowed;
}

button.button--try-again {
  margin-top: 2rem;
}

.result {
  -webkit-animation: show 0.6s forwards;
  animation: show 0.6s forwards;
}

.footer {
  font-size: var(--font-size-small);
  margin-top: 4rem;
  -webkit-animation: show 0.6s forwards;
  animation: show 0.6s forwards;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.footer a {
  color: var(--color-green-1);
}

.displayed {
  display: block;
}

.hidden {
  display: none;
}

.rotate {
  -webkit-animation: rotate 0.6s forwards;
  animation: rotate 0.6s forwards;
}

@media screen and (max-width: 425px) {
  body {
    font-size: var(--font-size-body-mobile);
  }

  h1.heading__title {
    font-size: var(--font-size-h1-title-mobile);
  }

  h2.result__title {
    font-size: var(--font-size-h2-title-mobile);
  }

  .footer {
    font-size: var(--font-size-small-mobile);
  }

  main.main {
    width: 300px;
  }
}

@-webkit-keyframes show {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes show {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@-webkit-keyframes rotate {
  20% {
    transform: rotate(1deg);
  }
  40% {
    transform: rotate(-1deg);
  }
  60% {
    transform: rotate(1deg);
  }
  80% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes rotate {
  20% {
    transform: rotate(1deg);
  }
  40% {
    transform: rotate(-1deg);
  }
  60% {
    transform: rotate(1deg);
  }
  80% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0);
  }
}
